extends layout

block content
    form(name="TempControl", method="post")
        div.input
            span.label Temp
                input(type="text", name="temp", value='#{temp}')
                div
            div.actions
                input(type="submit", value="Change temperature")
    a(href="/settings/create", class="button") Change setup values